.addItems {
  width: 50%;
  margin: auto;
}
h1 {
  text-align: center;
  margin: 30px;
}
.label {
  text-align: center;
}
img {
  background-image: url('https://images.pexels.com/photos/255501/pexels-photo-255501.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
}
